@use 'sass:map';
$theme-colors: (
  "primary": #00D0FF,
  "secondary": #ECFBFF,
  "success": #129c19,
  "danger": #d90005,
  "warning": #d96100,
  "info": #726549,
  "light": #BDF2FE,
  "dark": #000000,
  "ldahners1": #BDF2FE,
  "ldahners1-dark": #526a6f,
  "ldahners2": #00D0FF,
  "ldahners2-dark": #00596d,
  "ldahners3": #D4E5E5,
  "ldahners3-dark": #616969,
  "ldahners4": #ECFBFF,
  "ldahners4-dark": #6e7577,
  "ldahners5": #E1EDF0,
  "ldahners5-dark": #6d7375,
  "ldahners6": #A1ECFF,
  "ldahners6-dark": #3e5c63,
  "ldahners7": #FFE0A1,
  "ldahners7-dark": #726549,
  "inc-8": #0092b3,
  "inc-9": #143C0E,
  "ldahners-snow" : #FFFAFA
);
.inc-bg-primary{
  background-color: var(--primary);
}
.inc-bg-secondary{
  background-color: var(--secondary);
}
.inc-bg-light{
  background-color: var(--light);
}
.inc-bg-dark{
  background-color: var(--dark);
}
html .inc-text-primary{
  color: var(--primary);
}
html .inc-text-secondary{
  color: var(--secondary);
}
html .inc-text-light{
  color: var(--light);
}
html .inc-text-dark{
  color: var(--dark);
}
html .inc-bg-ldahners1{background-color: var(--ldahners1);}
html .inc-bg-ldahners1-dark{background-color: var(--ldahners1-dark);}
html .inc-bg-ldahners2{background-color: var(--ldahners2);}
html .inc-bg-ldahners2-dark{background-color: var(--ldahners2-dark);}
html .inc-bg-ldahners3{background-color: var(--ldahners3);}
html .inc-bg-ldahners3-dark{background-color: var(--ldahners3-dark);}
html .inc-bg-ldahners4{background-color: var(--ldahners4);}
html .inc-bg-ldahners4-dark{background-color: var(--ldahners4-dark);}
html .inc-bg-ldahners5{background-color: var(--ldahners5);}
html .inc-bg-ldahners5-dark{background-color: var(--ldahners5-dark);}
html .inc-bg-ldahners6{background-color: var(--ldahners6);}
html .inc-bg-ldahners6-dark{background-color: var(--ldahners6-dark);}
html .inc-bg-ldahners7{background-color: var(--ldahners7);}
html .inc-bg-ldahners7-dark{background-color: var(--ldahenrs7-dark);}
html .inc-bg-8{background-color: var(--inc-8);}
html .inc-bg-9{background-color: var(--inc9);}
html .inc-bg-black{background-color:black;}
html .inc-bg-white{background-color:white;}
html .inc-bg-light-gray{background-color: rgba(140,152,152,0.9);}
html .inc-bg-snow{background-color: var(--ldahners-snow);}

html .inc-text-ldahners1{color: #BDF2FE;}
html .inc-text-ldahners1-dark{color: #526a6f;}
html .inc-text-ldahners2{color: #00D0FF;}
html .inc-text-ldahners2-dark{color: #00596d;}
html .inc-text-ldahners3{color: #D4E5E5;}
html .inc-text-ldahners3-dark{color: #616969;}
html .inc-text-ldahners4{color: #ECFBFF;}
html .inc-text-ldahners4-dark{color: #6e7577;}
html .inc-text-ldahners5{color: #E1EDF0;}
html .inc-text-ldahners5-dark{color: #6d7375;}
html .inc-text-ldahners6{color: #A1ECFF;}
html .inc-text-ldahners6-dark{color: #3e5c63;}
html .inc-text-ldahners7{color: #FFE0A1;}
html .inc-text-ldahners7-dark{color: #726549;}
html .inc-text-8{color: #0092b3;}
html .inc-text-9{color: #143C0E;}
html .inc-text-black{color:black;}
html .inc-text-black{color:white;}