@use 'sass:map';
@import 'ldahnersColors';
@import 'policy.scss';
@import 'incContainer.scss';
@import 'FullScreenVideo.scss';

html body{
  height:100vh;
}
//Flex
.inc-flex-300{
  flex: 0 0 18rem;
}
.inc-flex-200{
  flex: 0 0 12rem;
}
.inc-flex-auto{
  flex: 0 0 auto;
}
.inc-flex-grow{
  flex: 1;
}

//Nudges
.inc-nudge-l1{
  left:-1rem;
  width:calc(100% + 1rem);
  position:relative;
  padding-left:1rem;
}
//Header - Part 1

#incarnate-logo img{
  height:60px
}
.inc-closing-logo{
  display:none;
}
nav.inc-sticky-header{
  position:fixed;
  top:0;
  width:100%;
  overflow-y:scroll;
  overflow-x:hidden;
  -ms-overflow-style: none;
  padding: 0.5rem;
}
nav.inc-sticky-header::-webkit-scrollbar {
  display: none;
}
.inc-body{
  padding-top:3.4rem;
}
#incarnate-logo{
  display:none;
}
nav.inc-sticky-header button:hover{
  background-color: var(--ldahners7-dark);
  color:var(--ldahners5);
  border-color:var(--dark);
  box-shadow: 0.5rem 0.5rem var(--dark);
}
nav .collapse.show{
  height:calc(100% - 30rem);
}

footer.page-footer{
  left:-2px;
  position:relative;
  width: calc(100% + 2px);
}

.inc-flex-orientation{
  display:flex;
  flex-direction:column;
}
@media (orientation: landscape) {
  .inc-flex-orientation{
    flex-direction: row;
  }
}
@media (min-width: 450px){
  #incarnate-logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .inc-body{
    padding-top:5.4rem;
  }
}
@media (min-width: 870px) and (orientation: landscape) {
  #incarnate-logo{
    margin:unset;
  }
  .inc-closing-logo{
    display:block;
  }
  .navbar-toggler{
    display:none;
  }
  nav.inc-sticky-header{
    width:14rem;
    height:100vh;
  }
  nav.inc-sticky-header div.collapse{
    display:block;
  }
  .inc-nav-body{
    display:flex;
  }
  .inc-nav-flex-holder{
    flex: 0 0 14rem;
  }
  .inc-body{
    flex: 1;
    padding-top:unset;
  }
}
@media (min-width: 450px) {
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
//Columns
.inc-col-md-6{
  position:relative;
  width:100%;
  min-height:1px;
  padding-left:5px;
  padding-right:5px;
}
@media (min-width: 768px){
  .inc-col-md-6{
    flex: 0 0 49%;
    max-width: 49%;
  }
}
.inc-left-pane{
  margin-right:2%;
}
@import '../bootstrap-4.0.0/scss/bootstrap.scss';
a {
  color: var(--inc-8);
}
.inc-bg-ldahners3-dark a, .inc-bg-ldahners5-dark a{
  color: var(--inc-9);
}

// Header
.navbar-toggler-icon{
  background-image: $navbar-light-toggler-icon-bg;
}
