{%  extends 'base.html.twig' %}
{% block title %}Laury Dahners{% endblock %}
{% block body %}
    <h1 class="text-center">Laury Dahners</h1>
    <img src="/assets/images/Laury sepia.jpg" class="mx-auto d-block">
    <p>Laury Dahners lives in Chapel Hill, North Carolina and enjoys composing and recording music as well as painting. Recently he's become interested in writing science fiction. For a day job he worked (retired now) as an orthopedic surgeon who taught at the University of North Carolina Medical School, Department of Orthopaedics. Thanks to his daughter Elene Dahners for teaching him how to build his first website!</p>
{% endblock %}
